## Build generated
build/
DerivedData
.build/
SMPPayment.xcframework/

## Various settings
*.pbxuser
!default.pbxuser
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
